.beers{
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-left: 40px;
}

@media screen and (max-width: 1650px) {
        .beers {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      @media screen and (max-width: 1365px) {
        .beers {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      @media screen and (max-width: 830px) {
        .beers {
                grid-template-columns: 1fr 1fr;
              }
      }

      @media screen and (max-width: 565px) {
        .beers {
                grid-template-columns: 1fr;
              }
      }