.card {
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 300px;
}

.img {
    height: 100px;
    width: 50px;
}

.description {
    font-size: 0.6rem;
}

.stats {
    margin-top: 5px;
}

@media screen and (max-width: 1045px) {
    .card {
        width: 200px;
        height: 250px;
    }
    .name {
        font-size: 1rem;
    }
    .stats {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 830px) {
    .card {

        width: 230px;
        height: 280px;
    }

    .stats {
        font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 655px) {
    .card {
        width: 200px;
        height: 250px;
    }
    .stats {
        font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 565px) {
    .card {
        width: 250px;
        height: 300px;
        margin-left: 70px;
    }
    .name {
        font-size: 1.3rem;
    }
    .stats {
        font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    .card {
        width: 200px;
        height: 250px;
        margin-left: 55px;
    }
    .name {
        font-size: 1rem;
    }
    .stats {
        font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 460px) {
    .card {
        margin-left: 40px;
    }
  }

  @media screen and (max-width: 425px) {
    .card {
        margin-left: 30px;
    }
  }

  @media screen and (max-width: 400px) {
    .card {
        margin-left: 20px;
    }
  }