.searchBar {
    height: 50px;
    width: 80%;
    border: solid 1px black;
}

@media screen and (max-width: 930px) {
    .searchBar {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 700px) {
    .searchBar {
        height: 40px;
        width: 80%;
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .searchBar {
        height: 40px;
        width: 80%;
        font-size: 0.4rem;
    }
}